.background-image{
    background: linear-gradient(to bottom right, rgb(27, 26, 26), rgb(229, 229, 226));
    height: 60vh;
    overflow: hidden;
    position: relative;
}
.background-image img{
    height: 100%;
    margin-left: -50vw;
}
.image-details{
    position: absolute;
    bottom: 1em;
    border-radius: 10px;
    background-color: rgba(61, 61, 61, 0.671);
    margin: 0 5px;
}
.image-details h1, p{
    color: white;
    font-size: 10vw;
    text-align: justify;
    padding: 0 10px;
}
.image-details p{
    font-size: 4.6vw;
}
@media screen and (max-width: 300px){
    
    .background-image{
        height: auto;       
        max-height: 70vh;
    }
    .background-image img{
        width: auto;
        height: auto;
    }
    .image-details{
        bottom: 10px;
    }
    .image-details p{
        font-size: 4.5vw;
    }
}

@media screen and (min-width: 420px){
    .background-image img{
        width: 100%;
        margin: 0;
    }
    .image-details{
        left: 10px;
        width: 80vw;
    }
    .image-details h1{
        font-size: 7vw;
    }
    .image-details p{
        font-size: 3.1vw;
    }
}
@media screen and (min-width: 700px){
    
    .image-details{
        left: 10px;
        width: 80vw;
    }
    .image-details h1{
        font-size: 3rem;
    }
    .image-details p{
        font-size: 1.4rem;
    }
}

@media screen and (min-width: 1000px){
    .background-image{
        height: 75vh;
    }
    .image-details{
        width: 70vw;
    }
    .image-details h1{
        font-size: 5vw;
    }
}
@media screen and (min-width: 1300px){
    .background-image{
        height: 75vh;
    }
    .image-details{
        width: 70vw;
    }
    .image-details h1{
        font-size: 3rem;
    }
    .image-details p{
        font-size: 1.5rem;
    }
}
@media screen and (min-width: 1500px){
    .background-image{
        height: 75vh;
    }
    .image-details{
        width: 70vw;
    }
    .image-details h1{
        font-size: 4rem;
    }
    .image-details p{
        font-size: 2rem;
    }
}
@media screen and (min-width: 1800px){
    .background-image{
        height: 75vh;
    }
    .image-details{
        width: 60vw;
    }
    .image-details h1{
        font-size: 4rem;
    }
    .image-details p{
        font-size: 2.3rem;
    }
}