#landingPage{
    width: 100%;
    text-align: center;
}
.card-container{
    display: grid;
    grid-template-columns: 47vw 47vw;
    grid-gap: 2vw;
    margin: auto 2vw;
    text-align: center;
}
.card-section-heading, .load-button{
    grid-column: 1/3;
    margin: 1rem;
}
.load-button button{
    background-color: rgb(31, 104, 168);
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    width: 8rem;
    height: 2rem;
}

@media screen and (min-width: 600px){
    .card-container{
        grid-template-columns: repeat(4, 22vw);
        grid-gap: 2vw;
        margin: 0;
        justify-content: center;
    }
    .card-section-heading, .load-button{
        grid-column: 1/5;
    }
}

@media screen and (min-width: 1000px){
    .card-container{
        grid-template-columns: repeat(5, 18vw);
        grid-gap: 2vw;
        justify-content: center;
    }
    .card-section-heading, .load-button{
        grid-column: 1/6;
    }
}